{% load staticfiles %}
<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center">
        <div class="row">
            <!--First column-->
            <div class="col-10">
                <h5 class="text-uppercase">For demonstration Purposes only</h5>
                <p>This website has been constructed as part of the Web Application course provided by the University of
                    Glasgow</p>
            </div>
            <!--/.First column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright: Rodrigo, Matej, Will, Pierre
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->