{% load staticfiles %}

<!-- JQuery, needs to be before bootstrap -->
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>


<!-- Bootstrap core JavaScript
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- JQuery UI, needs to be after JQuery and Bootstrap -->
<script src="{% static 'js/jquery-ui.min.js'%}"></script>
<script src="{% static 'js/pubway-jquery.js' %}"></script>
<script src="{% static 'js/pubway-ajax.js' %}"></script>

<!--google maps-->


<!-- Add Page -->
<script src = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>


<script language = "javascript">
         function showMessage(value) {
            document.getElementById("message").innerHTML = value;
         }
</script>