{% load staticfiles %}
{% load avatar_tags %}
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/mvp_landing_logo.png' %}"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'new_subcrawl' %}">Organise a new Subcrawl</a></li>
                {% endif %}
            </ul>


            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% avatar user 21 class="img-circle" id="user_avatar" %} Hi {{ request.user.first_name }} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">{{ request.user.first_name }}</a></li>
                    <li><a href="#">{{ request.user.last_name }}</a></li>
                        <li class="divider"></li>
                    <li class="dropdown-header">Actions</li>
                    <li><a href="{% url 'myprofile' %}">Edit</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>

            {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                <form class='navbar-form navbar-right' method='POST' action='{% url "login" %}'>{% csrf_token %}
                    <div class='form-group'>
                        <input type='text' class='form-control' name='username' placeholder='Username'/>
                    </div>
                    <div class='form-group'>
                        <input type='password' class='form-control' name='password' placeholder='Password'/>
                    </div>
                    <button type='submit' class='btn btn-default'>Login</button>
                </form>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</nav>