<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
	<title>
		Pubway -
		{% block title_block %}
			Glasgow
		{% endblock %}
	</title>
</head>
<body>
    <div id="logo">Here will be the logo</div>
    <div id="nav-bar">Here will be the top navigation bar soon.</div>
	<div id="page_content">
	{% block body_block %}
		This is body_block default content.
	{% endblock %}
	</div>
	<hr />
	<div id="about">
        <h5>About</h5>
        Authors: Matej, Will, Rodrigo, Pierre
	</div>
</body>
</html>