{% extends 'pubway/base.html' %}
{% load staticfiles %}
{% load pubway_template_tags %}
{% block title_block %}
    Home
{% endblock%}

{% block content %}

<b></b><h4>Hover over station names to get suggestions / Click to be brought to that station's page for more details.</h4>

<img src="{% static "images/subwaymap.png" %}" alt="Subway Map" usemap="#Map">
<map name="Map">
    
        {% for station in stations %}

        <area shape="rect" title="{{station.name}}" coords="{{station.mapCoords}}" alt="{{station.name}}" onmouseover="mouseOver(alt)" 
        href='{% url "show_station" station.slug %}'>
    
        {% endfor %}
</map>


<script>
    function mouseOver(hoveredStation) {

        var stations = ["Base","Govan", "Ibrox", "Cessnock", "Kinning Park", "Shields Road", "West Street", "Bridge Street", "St. Enoch", "Buchanan Street", "Cowcaddens", "St. George's Cross", "Kelvinbridge", "Hillhead", "Kelvinhall", "Partick"];

        for (i = 0; i < stations.length; i++) {
            document.getElementById(stations[i]).style.display = "none";
        }
        //show hovered station div
        var x = document.getElementById(hoveredStation);
        x.style.display = "block";
    }

</script>


<div id="Base">
     <ul>
            <h4><b><u>Station</u></b></h4>
   
        <li>Train Times Monday - Saturday:
            </br>
            Hover over station to view train times.
        </li>
        <li>Train Times Sunday:
            </br>
            Hover over station to view train times.
            </li>
    

    <h4><u><b>Top Places:</b></u></h4>
</ul>
</div>

<div id="Govan" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Govan" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
        
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <h4><u><b>Top Places:</b></u></h4>
        {% get_close_places_list 'Govan' %}
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Ibrox" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Ibrox" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
  
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <h4><u><b>Top Places:</b></u></h4>{% get_close_places_list 'Ibrox' %}


        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Cessnock" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Cessnock" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
    
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <h4><u><b>Top Places:</b></u></h4>
        {% get_close_places_list 'Cessnock' %}
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Kinning Park" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Kinning Park" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
    
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <h4><u><b>Top Places:</b></u></h4>
        {% get_close_places_list 'Kinning Park' %}
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Shields Road" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Shields Road" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
    
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <br>
        <h4><h4><u><b>Top Places:</b></u></h4></h4>
        {% get_close_places_list 'Shields Road' %}

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="West Street" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "West Street" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
    
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <h4><u><b>Top Places:</b></u></h4>
        {% get_close_places_list 'West Street' %}
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Bridge Street" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Bridge Street" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
       
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <h4><u><b>Top Places:</b></u></h4>
        {% get_close_places_list 'Bridge Street' %}
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="St. Enoch" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "St. Enoch" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
    
        <h4><u><b>Top Places:</b></u></h4>
        {% get_close_places_list 'St. Enoch' %}
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Buchanan Street" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Buchanan Street" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
    
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <h4><u><b>Top Places:</b></u></h4>
        {% get_close_places_list 'Buchanan Street' %}
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Cowcaddens" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Cowcaddens" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
    
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <h4><u><b>Top Places:</b></u></h4>
        {% get_close_places_list 'Cowcaddens' %}
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Kelvinbridge" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Kelvinbridge" %}

        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>

    
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <h4><u><b>Top Places:</b></u></h4>

        {% get_close_places_list 'Kelvinbridge' %}

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Hillhead" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Hillhead" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
    
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <h4><u><b>Top Places:</b></u></h4>
        {% get_close_places_list 'Hillhead' %}
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Kelvinhall" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Kelvinhall" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
    
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <h4><u><b>Top Places:</b></u></h4>
        {% get_close_places_list 'Kelvinhall' %}
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Partick" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Partick" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <h4><u><b>Top Places:</b></u></h4>
        {% get_close_places_list 'Partick' %}
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="St. George's Cross" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %}

        {% if station.name == "St. George's Cross" %}
        <h4>
            <b>
                <u>
                    <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
                </u>
                
            </b>
        </h4>
        

    
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <h4><u><b>Top Places:</b></u></h4>
        {% get_close_places_list "St. George's Cross" %}
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<br>


{% endblock %}