{% extends 'pubway/base.html' %}
{% load staticfiles %}
{% load pubway_template_tags %}
{% block title_block %}
    Home
{% endblock%}

{% block content %}

<h1>Subway Map</h1>

<script>
    function mouseOver(hoveredStation) {


        document.getElementById("Govan").style.display = "none";
        document.getElementById("Ibrox").style.display = "none";
        document.getElementById("Cessnock").style.display = "none";
        document.getElementById("Kinning Park").style.display = "none";
        document.getElementById("Shields Road").style.display = "none";
        document.getElementById("West Street").style.display = "none";
        document.getElementById("Bridge Street").style.display = "none";
        document.getElementById("St. Enoch").style.display = "none";
        document.getElementById("Buchanan Street").style.display = "none";
        document.getElementById("Cowcaddens").style.display = "none";
        document.getElementById("Kelvinbridge").style.display = "none";
        document.getElementById("Hillhead").style.display = "none";
        document.getElementById("Kelvinhall").style.display = "none";
        document.getElementById("Partick").style.display = "none";
        document.getElementById("St. George's Cross").style.display = "none";
        document.getElementById("Base").style.display = "none";


        var x = document.getElementById(hoveredStation);
        
        x.style.display = "block";

        /*if (x.style.display === "none") {
            x.style.display = "block";
        }*/


        //hideAllExcept(hoveredStation);

    }

    function mouseOut(y) {
        pass;

    }

    function hideAllExcept(chosenStation) {
        var stations = ["Govan", "Ibrox", "Cessnock", "Kinning Park", "Shields Road", "West Street", "Bridge Street", "St. Enoch", "Buchanan Street", "Cowcaddens", "St. George's Cross", "Kelvinbridge", "Hillhead", "Kelvinhall", "Partick"];

        for (i = 0; i < stations.length; i++) {
            if (stations[i] == chosenStation) {
                pass;
            } else {

                var curStation = document.getElementById(stations[i]);
                curStation.style.display = "none";
            }

        }

    }

</script>

<div id="Base">
    <ul>
        <li>
            <b>Station</b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            Hover over station to view train times.
        </li>
        <li>Train Times Sunday:
            </br>
            Hover over station to view train times.
        </li>

    </ul>



</div>

<div id="Govan" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Govan" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>
        <!-- img src="{% static "images/Govan.jpg" %}" width="300" height=ato alt="Govan" -->
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Ibrox" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Ibrox" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Cessnock" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Cessnock" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Kinning Park" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Kinning Park" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Shields Road" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Shields Road" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="West Street" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "West Street" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Bridge Street" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Bridge Street" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="St. Enoch" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "St. Enoch" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Buchanan Street" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Buchanan Street" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Cowcaddens" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Cowcaddens" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Kelvinbridge" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Kelvinbridge" %}

        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>

        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>

        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Hillhead" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Hillhead" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Kelvinhall" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Kelvinhall" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="Partick" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "Partick" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div id="St. George's Cross" style="display:none;">
    {% if stations %}
    <ul>
        {% for station in stations %} {% if station.name == "St. George's Cross" %}
        <li>
            <b>
                <a href="{% url 'show_station' station.slug %}">{{ station.name }}</a>
            </b>
        </li>
        <li>Train Times Monday - Saturday:
            </br>
            {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }}
        </li>
        <li>Train Times Sunday:
            </br>
            {{ station.firstTrainSun }} - {{ station.lastTrainSun }}
        </li>

        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <strong>There are no stations present.</strong>
    {% endif %}
</div>
<div>
    
    {% if places %}
    <ul>
        {% for place in places %} 
    

        <li>
            <b>
                <a href="{% url 'show_place' place.slug %}">{{ place.name }}</a>
            </b>
        </li>


        {% endfor %}
    {% else %}
        <strong>There are no places present.</strong>
    {% endif %}
</div>


<img src="{% static "images/subwaymap.png" %}" alt="Subway Map" usemap="#Map">



<map name="Map">
    
        {% for station in stations %}

        <area shape="rect"  coords="{{station.mapCoords}}" alt="{{station.name}}" onmouseover="mouseOver(alt)" 
        href='{% url "show_station" station.slug %}'>
    
        {% endfor %}
</map>


{% endblock %}