<!DOCTYPE html>

{% extends 'pubway/base.html' %}
{% load staticfiles %}

<html>
<head lang="en">
    {% block title_block %}
        stationPage name to come here
    {% endblock %}
</head>

<body>
    {% block content %}
        {% if station %}
            <h1>{{ station.stringName }}</h1>
            <div id="stationTimes">
                Train times: <br>
                Monday - Saturday: {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }} <br>
                Sunday: {{ station.firstTrainSun }} - {{ station.lastTrainSun }} <br>
            </div>
            <p id="addPlaceButton">
                <button type="button" onclick="addPlace()">Add a place!</button>
                <script src="/static/js/stationPageScript.js"></script>
            </p>
        {% else %}
            <h1>Station does not exist!</h1>
        {% endif %}
        Places content to come here </br>
        Add Place to come
    {% endblock %}
</body>

</html>