<!DOCTYPE html>

{% extends 'pubway/base.html' %}
{% load staticfiles %}

<html>
<head lang="en">
    {% block head_title %}
        {{ station.name }}
    {% endblock %}
    {% block style %}
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 500px;
            width: 70%;
        }
        .button {
            background-color: white;
            border: 2px solid #008CBA;
            color: black;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.5s; /* Safari */
            transition-duration: 0.5s;
            cursor: pointer;
        }
        .button:hover {
            background-color: #008CBA;
            color: white;
        }
        .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }

    {% endblock %}

</head>

<body>
    {% block content %}
        {% if station %}
            <div class="centered">
            <h1>{{ station.name }}</h1>
            <div id="stationTimes">
                <h4>Train times: </h4>
                Monday - Saturday: {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }} <br>
                Sunday: {{ station.firstTrainSun }} - {{ station.lastTrainSun }} <br>
            </div>

            <br/>
            <div id="top_places_list">
            <h4>Top places for fun time around {{station.name }}</h4>
            <u1>
            {% for place in top_places %}
                    <a href="{% url 'show_place' place.slug %}">{{ place.name }}</a><br/>
            {% endfor %}
            </u1>
            </div>

            <div id="all_places_list" style="display: none;">
                <h4>All places around {{station.name }}</h4>
                {% for place in places %}
                    <a href="{% url 'show_place' place.slug %}">{{ place.name }}</a><br/>
            {% endfor %}
            </u1>
            </div>


            <div id="buttons">
            <br/>
            <button id="show_button" class="button" onclick="showButton();">Show all</button>
            {% if user.is_authenticated %}
            <a class="button" href="{% url 'add_place' station.slug %}">Add a place to {{ station.name }}</a>
            {% endif %}
            <script>
            function showButton() {
                var all_places_list = document.getElementById("all_places_list");
                var top_places_list = document.getElementById("top_places_list");
                var show_button = document.getElementById("show_button");

                if (all_places_list.style.display === "none") {
                    all_places_list.style.display = "block";
                    top_places_list.style.display = "none";
                    show_button.innerHTML = "Show top"
                } else {
                    all_places_list.style.display = "none";
                    top_places_list.style.display = "block";
                    show_button.innerHTML = "Show all"
                }
            }
            </script>
            </div>


            </div>

            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div class="centered" id="map"></div>

            <script>
                function initAutocomplete() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: {{ station.latitude }}, lng: {{station.longitude}}},
                    zoom: 16,
                    mapTypeId: 'roadmap'
                });
                // Create the search box and link it to the UI element.
                var input = document.getElementById('pac-input');
                var searchBox = new google.maps.places.SearchBox(input);
                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                // Bias the SearchBox results towards current map's viewport.
                map.addListener('bounds_changed', function() {
                  searchBox.setBounds(map.getBounds());
                });

                var markers = [];
                // Listen for the event fired when the user selects a prediction and retrieve
                // more details for that place.
                searchBox.addListener('places_changed', function() {
                      var places = searchBox.getPlaces();

                      if (places.length == 0) {
                        return;
                      }

                      // Clear out the old markers.
                      markers.forEach(function(marker) {
                        marker.setMap(null);
                      });
                      markers = [];

                      // For each place, get the icon, name and location.
                      var bounds = new google.maps.LatLngBounds();
                      places.forEach(function(place) {
                            if (!place.geometry) {
                              console.log("Returned place contains no geometry");
                              return;
                            }
                            var icon = {
                              url: place.icon,
                              size: new google.maps.Size(71, 71),
                              origin: new google.maps.Point(0, 0),
                              anchor: new google.maps.Point(17, 34),
                              scaledSize: new google.maps.Size(25, 25)
                            };

                    // Create a marker for each place.
                    markers.push(new google.maps.Marker({
                          map: map,
                          icon: icon,
                          title: place.name,
                          position: place.geometry.location
                    }));

                    if (place.geometry.viewport) {
                          // Only geocodes have viewport.
                          bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                      });
                      map.fitBounds(bounds);
                });
              }

            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN1R6rdaYW__YOLaw8uHv5RxssqRl9Vbg&libraries=places&callback=initAutocomplete"
                 async defer></script>
            <br/>
            </div>

        {% else %}
            <h1>Station does not exist!</h1>
        {% endif %}
    {% endblock %}
</body>

</html>