<!DOCTYPE html>

{% extends 'pubway/base.html' %}
{% load staticfiles %}

<html>
<head lang="en">
    {% block head_title %}
        {{ station.name }}
    {% endblock %}
    {% block style %}
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
        height: 100%;
        }
    {% endblock %}
</head>

<body>
    {% block content %}
        {% if station %}
            <h1>{{ station.name }}</h1>
            <div id="stationTimes">
                Train times: <br>
                Monday - Saturday: {{ station.firstTrainMonSat }} - {{ station.lastTrainMonSat }} <br>
                Sunday: {{ station.firstTrainSun }} - {{ station.lastTrainSun }} <br>
            </div>

            <div id="places_list">
            <u1>
            {% for place in places %}
                    <li>{{ place.name }}</li>
            {% endfor %}
            </u1>
            </div>

            <p id="addPlaceButton">
                <button type="button" onclick="addPlace()">Add a place!</button>
            </p>

            <br id="addPlaceForm">
                <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class = "mdl-textfield__input" type = "text" maxlength="128" id = "name">
                    <label class = "mdl-textfield__label" for = "name">Name...</label>
                    <span class = "mdl-textfield__error"></span>
                  </div>
                <br/>

                <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class = "mdl-textfield__input" type = "text" maxlength="7" id = "postcode">
                    <label class = "mdl-textfield__label" for = "postcode">Postcode...</label>
                    <span class = "mdl-textfield__error"></span>
                  </div>
                <br/>

                <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class = "mdl-textfield__input" type = "text" maxlength="128" id = "address">
                    <label class = "mdl-textfield__label" for = "address">Address...</label>
                    <span class = "mdl-textfield__error"></span>
                  </div>
                <br/>

                <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class = "mdl-textfield__input" type = "url" id = "website">
                    <label class = "mdl-textfield__label" for = "postcode">Website...</label>
                    <span class = "mdl-textfield__error"></span>
                  </div>
                <br/>
            </form>


            <div id="map" style="width:60%;height:400px"></div>

            <script>
            function myMap() {
                var myCenter = new google.maps.LatLng({{ station.latitude }}, {{ station.longitude }});
                var mapCanvas = document.getElementById("map");
                var mapOptions = {center: myCenter, zoom: 16};
                var map = new google.maps.Map(mapCanvas, mapOptions);
                var marker = new google.maps.Marker({position:myCenter});
                marker.setMap(map);

                google.maps.event.addListener(marker,'click',function() {
                    var infowindow = new google.maps.InfoWindow({content:"{{ station.name }} Station!"});
                    infowindow.open(map,marker);
                    });

                infowindow.open(map,marker);
            }
            </script>

        {% else %}
            <h1>Station does not exist!</h1>
        {% endif %}
        Places content to come here </br>
        Add Place to come
    {% endblock %}
</body>

</html>