.navbar-static-top {
  margin-bottom: 19px;
  background-color: #2E2E2E;
  border-color: #212121;
}

.nav.navbar-nav li a {
    color: #FFF;
}
.navbar-default .navbar-nav .open .dropdown-menu li a{
    color: #2E2E2E
}

.navbar-default .navbar-brand:hover {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFF;
}

.navbar-default .navbar-toggle {
 border-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: #1A5F23 !important;
}

.navbar-toggle {
	background-color: #0E3D14 !important;
}