{% extends 'pubway/base.html' %}
{% load staticfiles %}
{% load i18n avatar_tags %}
{% load crispy_forms_tags %}

{% block title_block %}
Register
{% endblock %}

{% block content %}
    <div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h2>Edit Avatar</h2>
    <p>{% trans "Your current avatar: " %}</p>
    {% avatar user %}
    {% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% else %}
        <form method="POST" action="{% url 'avatar_change' %}">
            <ul>
                {{ primary_avatar_form|crispy }}
            </ul>
            <p>{% csrf_token %}<input class='btn btn-block btn-primary' type="submit" value="{% trans "Choose new Default" %}" /></p>
        </form>
    {% endif %}
<h2>Upload New Avatar</h2>
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        {{ upload_avatar_form|crispy }}
        <p>{% csrf_token %}<input class='btn btn-block btn-primary' type="submit" value="{% trans "Upload New Image" %}" /></p>
    </form>
</div>
    </div>

{% endblock %}